body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background: white;
  border: solid 0.1vw transparent;
  border-radius: 4vw;
}
.top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6vh 6vw;
}
.logo {
  display: flex;
  z-index: 2;
  width: 100%;
  margin-bottom: 2vh;
}
